.selector-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: min-content;
  margin: 10px auto;
  flex-direction: row;
  display: flex;
}

.selector-container input[type="text"] {
  background: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: large;
  color: #fff;
  line-height: 30px;
  padding: 7px 7px 5px 7px;
  min-width: max(200px, 40vw);
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
}

.selector-searchIcon,
.selector-closeIcon,
.selector-caretIcon {
  color: #fff;
  fill: #fff;
  margin-right: 15px;
  margin-left: 5px;
}

.selector-closeIcon {
  margin-left: 15px;
}

.selector-iconContainer {
  display: flex;
}