.selector-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: min-content;

  flex-direction: row;
  display: flex;
  min-width: max(200px, 40vw);
}

.selector-container input[type="text"] {
  background: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: large;
  color: #fff;
  line-height: 30px;
  padding: 7px 7px 5px 7px;
  width: 100%;
  flex: 1;
  box-sizing: content-box;
  transition: 0.5s;
  outline: none;
}

.selector-main-container {
  width: "fit-content";
  margin: 10px auto;
  width: min-content;
  box-sizing: content-box;
}
.selector-main-container-active {
  /* border: 1px solid var(--primary); */
  border-radius: 10px 10px 0px 0px;
  background-color: var(--primary);
}

.selector-searchIcon,
.selector-closeIcon,
.selector-caretIcon {
  color: #fff;
  fill: #fff;
  margin-right: 15px;
  margin-left: 5px;
}

.selector-closeIcon {
  margin-left: 15px;
}

.selector-iconContainer {
  display: flex;
}

.selector-focused {
  border-color: var(--primary);
  background-color: var(--backgroundColor);
}
.selector-options {
  width: 100%;
  position: relative;
}

.selector-options-child {
  position: absolute;
    z-index: 9099;
    background: var(--primary);
    border: 1px solid var(--primary);
    width: 100%;
    box-sizing: border-box;
    max-height: 310px;
  overflow-y: scroll;
}